.home__content_1,
.home__content_2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

/* Chữ trên */
.home__content_1 {
  color: oklch(0.52 0.16 155);
  line-height: 1.05;

  -webkit-mask-image: linear-gradient(to bottom,
      black 40%,
      transparent 100%);
  mask-image: linear-gradient(to bottom,
      black 40%,
      transparent 100%);
}

/* Chữ dưới */
.home__content_2 {
  transform: translateY(-0.8rem);
  /* kéo lại gần */
}